<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>StarCraftII Build Order Recommender</title>

    <style>

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text { font: 12px sans-serif; }

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}
	
    </style>

  </head>

  <body>
  Select your race and enemy race. </br>
  The next build unit is given when a current unit is clicked on. Custom builds can be made by inputting the desired unit and player (ie. SCV0, Marine1 etc.) and clicking on the node to insert that unit. This will overwrite the clicked unit and delete all units that follow where the custom unit is inserted. Longer custom builds can be inserted using comma delimeted units (ie. SCV0,Marine1). Clicking the Auto Build button will add the next Auto Build Length number of units to the current build order.
  </br>
  
  <form method = 'POST' action = '/sc2_default'>
    <select name="friendly_race">
      <option value="Terran" {% if race=='Terran0' %} selected {% endif %} >Terran</option>
      <option value="Protoss" {% if race=='Protoss0' %} selected {% endif %} >Protoss</option>
      <option value="Zerg" {% if race=='Zerg0' %} selected {% endif %} >Zerg</option>
    </select>
    <select name="enemy_race">
      <option value="Terran" {% if enemy_race=='Terran1' %} selected {% endif %} >Terran</option>
      <option value="Protoss" {% if enemy_race=='Protoss1' %} selected {% endif %} >Protoss</option>
      <option value="Zerg" {% if enemy_race=='Zerg1' %} selected {% endif %} >Zerg</option>
    </select>
    <input type="submit" value="submit">
  </form>
  <form method = 'POST' action = '/sc2_recommend'>
    Auto Build Length <input name ="length_autobuild" type ="text" value=5 size="2">
    <input name = "autobuild" type="submit" value="Auto Build">
    </br>
    Note: Large build lengths can take a long time to load
  </form>
  <input id="cust_build" type="text" name="cust_build" value="Custom Build" onChange="render()">

  
<!-- load the d3.js library -->	
<script src="http://d3js.org/d3.v3.min.js"></script>
	
<script>

var treeData = {{ tree_data| tojson | safe }};

function getDepth(obj) {
    var depth = 0;
    if (obj.children) {
        obj.children.forEach(function (d) {
            var tmpDepth = getDepth(d)
            if (tmpDepth > depth) {
                depth = tmpDepth
            }
        })
    }
    return 1 + depth
}

var depth = getDepth(treeData);

// ************** Generate the tree diagram	 *****************
var margin = {top: 40, right: 40, bottom: 20, left: 40},
	width = 1500 - margin.right - margin.left,
	height = 10000 - margin.top - margin.bottom;
	
var i = 0;

var tree = d3.layout.tree()
	.size([500, 500]);

var diagonal = d3.svg.diagonal()
	.projection(function(d) { return [d.x, d.y]; });


var svg = d3.select("body").append("svg")
  .attr("width", width + margin.right + margin.left)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")")


render();

function render(){
  
update(treeData,svg);

function update(source,player_svg) {

  // Compute the new tree layout.
  var nodes = tree.nodes(source).reverse(),
	  links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) {
    vert = Math.floor(d.depth/7)
    horz = d.depth % 7
    d.x =  300  + horz*150
    d.y =  vert*75
  })

  // Declare the nodes…
  var node = player_svg.selectAll("g.node")
	  .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter the nodes.
  var nodeEnter = node.enter().append("g")
	  .attr("class", "node")
	  .attr("transform", function(d) { 
		  return "translate(" + d.x + "," + d.y + ")"; });

   nodeEnter.append("circle")
	  .attr("r", 10)
    .style("stroke", function(d){
      if (d.name.substr(-1) == 0){
        return "blue"
      } else {
        return "red"
      }
    })
    .on("click", function(d) {
          var url = "/sc2_recommend?unit_id=" + d.name + "&cust_build=" + d3.select("#cust_build").property("value");
          window.location = url;
    })

  nodeEnter.append("text")
	  .attr("y", function(d) { 
		  return d.children || d._children ? -18 : 18; })
	  .attr("dy", ".35em")
	  .attr("text-anchor", "middle")
	  .text(function(d) { return d.name.slice(0, -1)
; })
	  .style("fill-opacity", 1);

  // Declare the links…
  var link = player_svg.selectAll("path.link")
	  .data(links, function(d) { return d.target.id; });

  // Enter the links.
  link.enter().insert("path", "g")
	  .attr("class", "link")
	  .attr("d", diagonal);
}
}

</script>
	
  </body>
</html>